@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


:root {
--Green-200-lighter: hsl(148, 38%, 91%);
--Green-600-medium: hsl(169, 82%, 27%);
--Red: hsl(0, 66%, 54%);
--White: hsl(0, 0%, 100%);
--Grey-500-medium: hsl(186, 15%, 59%);
--Grey-900-darker: hsl(187, 24%, 22%);
}


/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*body & container*/

body {
    background-color: var(--Green-200-lighter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}

.container {
    max-width: 23.438rem;
    width: 92%;
    background-color: var(--White);
    padding: 20px 22px;
    border-radius: 15px;
}

h1 {
    color: var(--Grey-900-darker);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 13px;
}

/*End of the body & container*/

/*fieldest & legend*/

fieldset {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

.query-type {
  color: var(--Grey-900-darker);
  font-weight: 450;
  font-size: 1.025rem;
  margin-bottom: 11px;
}

.query-type::after {
    content: "*";
    color: var(--Green-600-medium);
    margin-left: 7px;
}

/*end of the fieldest & legend*/

/*label*/ 

label {
    color: var(--Grey-900-darker);
    font-weight: 450;
    font-size: 1.005rem;
}

label:not(.Support-request):not(.general-enquriry):not(.agreeing)::after {
    content: "*";
    color: var(--Green-600-medium);
    margin-left: 6px;
}

.Support-request, .general-enquriry {
    border: 1px solid var(--Grey-500-medium);
    border-radius: 6px;
    padding: 0.815rem;
    font-size: 1.157rem;
    margin-bottom: 0.5rem;
}

.Support-request {
    margin-bottom: 1.5rem; 
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 30px 0;
    position: relative;
    font-size: 17.7px;
    opacity: 0.9;
}

/*end of the label*/

/*inputs*/
input {
    width: 100%;
    border: 1px solid var(--Grey-500-medium);
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 8px ;
}

input[type="text"] {
    margin-top: 8px;
}


input[type="radio"] {
    width: 27px;
    padding: 50px;
    border: none;
    transform: scale(1.7);
    accent-color: var(--Green-600-medium);
    margin-bottom: 7px;
}

input[type="checkbox"] {
    accent-color: var(--Green-600-medium);
    transform: scale(1.3);
    border: 1px solid var(--Grey-500-medium);
    width: 7%;
}    

.query-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.message-input {
    display: block;
    width: 100%;
    height: 15rem;
    text-align: left;
    resize: none;
    border: 1px solid var(--Grey-500-medium);
    border-radius: 6px;
    margin: 10px 0;
}

.message-input:focus {
    outline: 1px solid var(--Green-600-medium);
}


input:not([type="radio"]):not([type="checkbox"]):focus, select {
    outline: 1px solid var(--Green-600-medium);
}

/*end of the inputs*/

/*button*/ 

.submit-btn {
    width: 100%;
    color: var(--White);
    background-color: var(--Green-600-medium);
    margin: 0 auto;
    padding: 14px;
    border: 1px solid var(--Green-600-medium);
    border-radius: 6px;
    cursor: pointer;
    will-change: transform;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: var(--Grey-900-darker);
    border: 1px solid var(--Grey-900-darker);
    transform: scale(1.0);
}

/*End of the button*/ 

/*error section*/
.error-message {
   display: none;
   color: var(--Red);
   margin-bottom: 1px; 
}

.error-border {
    border : 1px solid var(--Red);
}
/*end of the error section*/

/*success-container*/

.success-container {
    display: none;
    max-width: 26.438rem;
    padding: 15px 18px;
    color: var(--White);
    background-color: var(--Grey-900-darker);
    border-radius: 9px;
}

h4 {
    font-size: 12px;
}

.success-message {
    color: var(--Grey-500-medium);
    font-size: 11px;
    margin-top: 7px;
}

.flex-secion {
    display: flex;
    gap: 10px;
}

.icon-success-check {
    width: 15px;
}

/*end of the success-container*/

@media only screen and (min-width:60rem) {
   
   body {
    height: 100vh;
   }

   .container {
    max-width: 40.438rem;
    padding: 30px 25px;
   }

   input[type="email"] {
     margin-bottom: 10px;
     
   }

   .checkbox-container {
    margin: 30px -12px;
   }

   .name-fields,
   .query-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 7.5px;
   }

   .Support-request {
    margin-bottom: 8px;
   }

   .message-input {
    height: 6.5rem;
   }

   input {
    margin-bottom: 1px;
   }

   .checkbox-container {
    gap: 6px;
   }
}